{% extends 'base.html.twig' %}

{% block title %}Liste des bugs{% endblock %}

{% block body %}
<table class="table table-striped">
  <th>Id</th>
  <th>Titre</th>
  <th>Langages</th>
  <th>Créateur</th>
  <th>Date de création</th>
  <th>Actions</th>
    {% for bug in bugs %}
        <tr>
          <td>{{ bug.id }}</td>
          <td>{{ bug.title }}</td>
          <td>{{ bug.languages }}</td>
          <td>{{ bug.creator.username }}</td>
          <td>{{ bug.creationDate|localizeddate('long', 'short')  }}</td>
          <td>
            <a href="/bug/{{ bug.id }}"><button class="btn btn-primary">Voir</button></a>
            <a href="/bug_edit/{{ bug.id }}"><button class="btn btn-primary">Modifier</button></a>
          </td>
        </tr>
    {% endfor %}
  </table>
  <a href="/bug_new"><button class="btn btn-primary">Créer un nouveau bug</button></a>
{% endblock %}
