{% extends 'base.html.twig' %}

{% block title %}Liste des bugs{% endblock %}

{% block body %}
<table class="table table-striped">
  <th>Id</th>
  <th>Titre</th>
  <th>Langages</th>
  <th>Créateur</th>
  <th>Date de création</th>
    {% for bug in bugs %}
        <tr>
          <td><a href="/bug/{{ bug.id }}">{{ bug.title }}</a></td>
          <td>{{ bug.title }}</td>
          <td>{{ bug.languages }}</td>
          <td>{{ bug.creator.username }}</td>
          <td>{{ bug.creationDate|localizeddate('long', 'short')  }}</td>
        </tr>
    {% endfor %}
  </table>
{% endblock %}
