{% extends 'base.html.twig' %}

{% block title %}Consultation du bug {{ bug.id }}{% endblock %}

{% block body %}
<p class="lead">Your bug is {{ bug.id }}</p>

{% if bug.solved %}
<span class="label label-success">Résolu</span>
{% else %}
<span class="label label-danger">En cours</span>
{% endif %}

<p><strong>Titre :</strong> {{ bug.title }}</p>
<p><strong>Description :</strong> {{ bug.description }}</p>
<p><strong>Etat :</strong> {{ bug.solved }}</p>
<p><strong>Repo sur Github :</strong> {{ bug.githubLink }}</p>
<p><strong>Créateur :</strong><a href="/developper/{{ bug.creator.id }}"> {{ bug.creator.username }}</a></p>
{% if bug.fixer != null %}
<p><strong>Fixer :</strong><a href="/developper/{{ bug.fixer.id }}"> {{ bug.fixer.username }}</a></p>
{% endif %}
<p><strong>Langages :</strong> {{ bug.languages }}</p>
<p><strong>Date de création :</strong> {{ bug.creationDate|localizeddate('long', 'short') }}</p>
{% endblock %}
